::selection{
  background: #BFBFBF;
}
::-moz-selection{
  background: #BFBFBF;
}
html, body{
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, .7);
  background-color: #222;
}
.caixa{
  height: 100%;
  min-height: 100%;

  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.imagem{
	margin-left: 12.5px;
	margin-right:12.5px;
	max-height: 50px;
	cursor: pointer;
	opacity:0.5;
	-moz-opacity: 0.5;
}
.imagem:hover{
	opacity:1;
	-moz-opacity: 1;
}
#subtitulo{
	text-align: center;
	margin-top: -40px;
	margin-bottom: 70px;
	color: #BFBFBF;
}
#titulo{
	color: #BFBFBF;
	font-size: 300px;
	font-weight: bold;
	 margin: 0; 
}
.conteudo-lista{
	border: solid 2px #BFBFBF;
	padding: 20px;
	border-radius: 10px;
	color: #BFBFBF;
	text-align: center;
	text-transform: uppercase;
}
.projetos_links{
	color: #bfbfbf;
	text-decoration: none;
}
.projetos_links:hover{
	text-decoration: underline;
}
#projetos_titulo{
	font-weight: bold;
}
